@charset "UTF-8";
/*-- MEYER RESET
–––––––––––––––––––––––––––––––––––––––––––––––––– --*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: .05em;
  background-color: white;
  color: #303030;
  overflow: auto; }
  body:not(.dev-body) {
    border: 0.8em solid #e7e7e8; }

p {
  color: #303030;
  letter-spacing: .05em; }

em {
  letter-spacing: .05em; }

a {
  text-decoration: none;
  color: #303030; }
  a:visited {
    color: #303030; }

footer {
  background-color: grey; }
  footer p {
    text-align: center;
    font-size: 2em; }

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100%; }

.coverpage-main {
  width: 90%;
  margin: 0 auto;
  overflow: auto; }

p {
  margin-top: 0.5em; }

button {
  display: block;
  padding: 0.5em; }

input {
  box-sizing: border-box;
  padding: .5em;
  margin-top: 1em; }

label {
  margin-top: 1em; }

footer {
  padding: 5em; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.frame {
  margin: 0 auto;
  max-width: 100%; }
  .frame:after {
    content: "";
    display: table;
    clear: both; }

[class*='grid-'] {
  float: left;
  padding: 0.3em; }

.grid-1 {
  width: 100%; }

.grid-2 {
  width: 50%; }

.grid-3 {
  width: 33.33333%; }

.grid-4 {
  width: 25%; }

.grid-5 {
  width: 20%; }

.grid-6 {
  width: 16.66667%; }

.grid-7 {
  width: 14.28571%; }

.grid-8 {
  width: 12.5%; }

.grid-9 {
  width: 11.11111%; }

.grid-10 {
  width: 10%; }

.grid-11 {
  width: 9.09091%; }

.grid-12 {
  width: 8.33333%; }

.grid-25 {
  width: 25%; }

.grid-40 {
  width: 40%; }

.grid-60 {
  width: 60%; }

.grid-75 {
  width: 75%; }

@media (max-width: 30em) {
  .grid-1 {
    width: 100%; }
  .grid-2 {
    width: 100%; }
  .grid-3 {
    width: 100%; }
  .grid-4 {
    width: 100%; }
  .grid-5 {
    width: 100%; }
  .grid-6 {
    width: 100%; }
  .grid-7 {
    width: 100%; }
  .grid-8 {
    width: 100%; }
  .grid-9 {
    width: 100%; }
  .grid-10 {
    width: 100%; }
  .grid-11 {
    width: 100%; }
  .grid-12 {
    width: 100%; } }

@media (min-width: 30em) and (max-width: 50em) {
  .grid-4,
  .grid-6,
  .grid-8,
  .grid-10,
  .grid-12 {
    width: 50%; }
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-5,
  .grid-7,
  .grid-9,
  .grid-11 {
    width: 100%; } }

@media (min-width: 50em) and (max-width: 68.75em) {
  .grid-2,
  .grid-7 {
    width: 100%; }
  .grid-4,
  .grid-8,
  .grid-10,
  .grid-12 {
    width: 50%; } }

header {
  text-align: center;
  padding: 0em 0 0em 0;
  overflow: auto; }

.primary-header {
  text-align: center;
  padding: 12em; }

.secondary-header, .secondary-header--link-dev, .secondary-header--link-artist {
  overflow: auto; }

.secondary-header .title-dev, .secondary-header .title-artist {
  float: left;
  width: 50%;
  padding: 1em;
  text-align: center; }

.spacer-1, .spacer-2, .spacer-3, .spacer-4 {
  float: left;
  width: 25%;
  height: 5em; }

.spacer-section--two {
  overflow: auto; }

.spacer-5, .spacer-6 {
  float: left;
  width: 50%; }

.footer-copywright {
  font-size: .9em;
  font-weight: 100;
  color: white; }

.icon-github {
  display: block;
  margin: 0 auto; }

.contact {
  overflow: auto;
  text-align: center;
  padding: 5em 2em; }
  .contact .title {
    text-align: center;
    margin-bottom: 1em; }
  .contact .contact-email, .contact .contact-resume, .contact .contact-linkedin {
    float: left;
    width: 33%;
    padding: 2.5em 1em 2.5em 1em; }
  .contact .contact-email {
    margin-right: 0.499995%;
    margin-left: 0.499995%; }

.contact-form--section {
  position: absolute;
  z-index: -201; }

.coverpage-paragraph--section {
  padding: 5em 7em; }

.coverpage-paragraph--text {
  text-align: justify;
  line-height: 2em; }

.coverpage-icon {
  display: inline-block;
  margin-bottom: .5em; }

.arts-header {
  text-align: left;
  padding: 7em 0em 0em 0em; }

.arts-header--title {
  padding-left: .5em;
  width: 30%; }

.oh-speech-bubble {
  position: absolute;
  padding: 1em;
  left: 240px;
  top: 70px;
  z-index: -10; }

.oh-speech-bubble--active {
  position: absolute;
  padding: 1em;
  left: 240px;
  top: 70px;
  z-index: 10; }

.arts-navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  overflow: auto;
  padding: 0 0.5em 0em 0; }

.arts-navbar--link {
  float: right;
  padding: 0.5em 0.5em 0.25em 0.5em; }

.arts-hero {
  padding: 10em 10em 10em 10em; }

.arts-hero--text {
  text-align: justify;
  line-height: 2em; }

.arts-hero--title {
  text-align: center;
  margin-bottom: 1em; }

.arts-gallery {
  overflow: auto;
  padding: 2.5em 2.5em 5em 2.5em; }

.arts-gallery--medium-title {
  display: block;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 0.5em 0em 0.5em 0; }

.arts-gallery--title-break {
  width: 40%;
  display: block;
  margin: 0 auto; }

.arts-gallery--piece {
  overflow: auto; }

.arts-gallery--piece-image {
  float: left;
  width: 50%;
  padding: 2.5em; }

.arts-gallery--piece-text {
  float: left;
  width: 50%;
  padding: 2.5em; }

.arts-gallery--piece-date {
  margin-top: .5em; }

.arts-gallery--piece-description {
  text-aligh: justify;
  line-height: 1.5em;
  padding: 1em 0; }

.view-more-section {
  display: block;
  text-align: center;
  margin: 0 auto;
  overflow: auto;
  width: 40%; }
  .view-more-section:hover .arts-gallery--icon {
    transform: translateX(10px);
    z-index: 0; }
  .view-more-section:hover {
    cursor: pointer; }

.view-bar {
  display: block;
  margin: 0 auto;
  border: 1px solid #fea900; }

.arts-gallery--icon {
  margin-left: 0;
  transition: all 0.4s linear; }

.arts-gallery--view, .arts-gallery--icon {
  display: inline-block; }

.arts-gallery--view {
  padding: .5em;
  background-color: white;
  transition: all 1s linear;
  z-index: 0; }

.arts-gallery--icon {
  position: absolute;
  margin-top: 1em;
  transform: translateX(-60px);
  z-index: -2; }

@keyframes bounceArrow {
  0% {
    transform: translateX(0px); }
  25% {
    transform: translateX(6px); }
  50% {
    transform: translateX(0px); }
  75% {
    transform: translateX(6px); }
  100% {
    transform: translateX(0px); } }

.dev-header {
  position: fixed;
  display: block;
  overflow: auto;
  width: 256px;
  height: 100%; }

.dev-footer {
  margin-left: 256px;
  margin-top: 5em; }

.dev-body {
  border-right: 0.8em solid #e7e7e8;
  border-left: 0.8em solid #e7e7e8;
  overflow: auto; }

.dev-header--icon {
  padding: .2em; }

.dev-navbar {
  margin-top: 8em; }

.dev-navbar--list {
  text-align: right;
  margin: 1em 0em 0 0em;
  padding: 0.5em 0.5em 0.5em 0; }

.dev-navbar--div-outer {
  margin-left: 5em;
  transition: all 0.4s linear; }
  .dev-navbar--div-outer:hover {
    margin-left: 1em; }
  .dev-navbar--div-outer:hover .dev-navbar--list {
    margin-left: 0.5em; }
  .dev-navbar--div-outer:hover .dev-navbar--div-inner {
    margin-left: 1em; }

.dev-main {
  padding: 2.5em 5em;
  height: 100%;
  margin-left: 256px; }

.dev-main--pagebreak {
  margin: 0.5em 0 1em 0; }

.dev-main--secondary-title {
  padding-top: .5em;
  margin-top: 2.5em; }

.primary-header {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  color: white;
  background-image: url("../pics/bw-macro.jpg"), linear-gradient(90deg, #fea900 10%, #4fdfbb 90%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  transition: background-image 0.5s; }

.primary-header--title {
  font-size: 8em; }

.secondary-header {
  color: #303030; }
  .secondary-header:visited {
    color: #303030;
    text-decoration: none; }
  .secondary-header .title-dev, .secondary-header .title-artist {
    font-size: 2em; }

.secondary-header .title-artist {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  background-color: white;
  border-bottom: 2px solid #4fdfbb;
  border-right: 2px solid #4fdfbb;
  transition: background-color 0.4s linear, color 0.4s linear, border 0.4s linear; }
  .secondary-header .title-artist:hover {
    background-color: #4fdfbb;
    color: white; }

.secondary-header .title-dev {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  background-color: white;
  border-bottom: 2px solid #fea900;
  border-left: 2px solid #fea900;
  transition: background-color 0.4s linear, color 0.4s linear, border 0.4s linear; }
  .secondary-header .title-dev:hover {
    background-color: #fea900;
    color: white; }

.spacer-1, .spacer-2 {
  border-bottom: 2px solid #fea900; }

.spacer-1 {
  border-right: 1.5px solid #fea900; }

.spacer-2 {
  border-left: 1.5px solid #fea900; }

.spacer-3, .spacer-4 {
  border-bottom: 2px solid #4fdfbb; }

.spacer-3 {
  border-right: 1.5px solid #4fdfbb; }

.spacer-4 {
  border-left: 1.5px solid #4fdfbb; }

.spacer-5 {
  border-bottom: 2px solid #fea900; }

.spacer-6 {
  border-bottom: 2px solid #4fdfbb; }

/*----- Footer Module -----*/
.icon-github {
  color: #FFFCEE;
  font-size: 2em;
  transition: color 0.2s linear; }
  .icon-github:visited {
    color: #fff; }
  .icon-github:hover {
    color: #FF9E18; }

.coverpage-paragraph--text {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 1.5em; }

.contact .title {
  font-family: "Quicksand", sans-serif;
  font-size: 2em;
  font-weight: 200;
  color: #303030; }

.contact .contact-header {
  font-size: 1.5em;
  transition: all 0.4s linear; }

.contact .contact-email, .contact .contact-resume, .contact .contact-linkedin {
  border-top: 1px solid transparent;
  transition: all 0.4s linear; }
  .contact .contact-email:hover, .contact .contact-resume:hover, .contact .contact-linkedin:hover {
    border-top: 1px solid #303030;
    cursor: pointer; }
  .contact .contact-email:hover .coverpage-icon, .contact .contact-resume:hover .coverpage-icon, .contact .contact-linkedin:hover .coverpage-icon {
    color: #303030;
    transform: scale(1.2); }
  .contact .contact-email:hover .contact-header, .contact .contact-resume:hover .contact-header, .contact .contact-linkedin:hover .contact-header {
    transform: scale(1.1); }

.coverpage-icon {
  color: #bdbdbd;
  font-size: 5em;
  transition: all 0.4s linear; }

.arts-header {
  background-color: #4fdfbb;
  background-image: url("../pics/cropped-bw.jpg"), linear-gradient(90deg, #4fdfbb 10%, #4fdfbb 90%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply; }

.arts-header--title {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  font-size: 3em;
  color: white;
  transition: all 0.4s linear; }
  .arts-header--title a {
    color: white; }
    .arts-header--title a:hover {
      display: block;
      animation: shake 1s linear;
      -webkit-animation: shake 0.2s linear; }
  .arts-header--title:hover {
    transform: translateY(10px); }

.oh-speech-bubble--active {
  background-color: white;
  border: 3px solid black;
  border-radius: 30px; }

.oh-speech-bubble--text {
  font-weight: 300; }

@keyframes shake {
  0% {
    transform: translateX(1px); }
  12.5% {
    transform: translateX(-1px); }
  25% {
    transform: translateX(1px); }
  37.5% {
    transform: translateX(-1px); }
  50% {
    transform: translateX(1px); }
  62.5% {
    transform: translateX(-1px); }
  75% {
    transform: translateX(1px); }
  87.5% {
    transform: translateX(-1px); }
  100% {
    transform: translateX(1px); } }

.arts-navbar {
  background-color: white; }

.arts-navbar--link {
  font-size: 1.75em;
  border-bottom: 3px solid transparent;
  transition: all 0.4s linear; }
  .arts-navbar--link:hover {
    border-bottom: 3px solid #2bffad; }

.arts-hero--text {
  font-size: 1.5em; }

.arts-hero--title {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  font-size: 2em;
  text-align: center; }

.arts-gallery {
  background-color: white; }

.arts-gallery--medium-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  font-size: 2em; }

.arts-gallery--title-break {
  border: 1px solid #2bffad;
  border-radius: 50px; }

.arts-gallery--piece-image {
  background-color: white; }

.arts-gallery--piece-title {
  font-size: 1.5em;
  font-weight: 200; }

.arts-gallery--piece-date {
  font-size: 1em; }

.arts-gallery--piece-description {
  font-size: 1.1em;
  text-aligh: justify;
  line-height: 1.5em; }

.arts-gallery--view {
  font-size: 2em; }

.arts-gallery--icon {
  color: black; }

.lnr-chevron-right-circle {
  color: #fea900;
  font-size: 2em;
  transition: all 0.4s linear; }

.arts-gallery--view {
  font-weight: 200; }

.arts-gallery--pagebreak {
  border: 7px solid #e7e7e8; }

.dev-header {
  background-color: #fea900;
  background-image: url("../pics/cropped-bw.jpg"), linear-gradient(90deg, #fea900 10%, #fea900 90%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply; }

.dev-header--icon {
  color: white;
  font-size: 5em; }

.dev-navbar--list {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5em;
  border-left: 1px solid white;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.4s linear; }
  .dev-navbar--list:hover {
    cursor: pointer;
    border-left: 5px solid #FFB400; }

.dev-navbar--link {
  color: #2E2E2E; }
  .dev-navbar--link:visited {
    color: #2E2E2E; }

.dev-navbar--div-inner {
  border-left: 1px solid white;
  transition: all 0.4s linear; }

.dev-navbar--div-outer {
  border-left: 1px solid white;
  transition: all 0.4s linear; }
  .dev-navbar--div-outer:hover {
    border-left: 1px solid #FFB400; }
  .dev-navbar--div-outer:hover .dev-navbar--list {
    border-left: 5px solid #FFB400; }
  .dev-navbar--div-outer:hover .dev-navbar--div-inner {
    border-left: 2.5px solid #FFB400; }

.dev-main--pagebreak {
  border: 1px solid #FFB400;
  border-radius: 5px; }

.dev-main--title {
  font-family: "Quicksand", sans-serif;
  color: #2E2E2E;
  font-size: 3em;
  font-weight: 200; }

.dev-main--secondary-title {
  font-family: "Quicksand", sans-serif;
  font-size: 2em; }

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/quicksand/Quicksand-Light.otf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/quicksand/Quicksand-Regular.otf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/quicksand/Quicksand-Bold.otf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Medium.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Semibold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/OpenSans-Semibold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?4g6frm");
  src: url("../fonts/icomoon.eot?4g6frm#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?4g6frm") format("truetype"), url("../fonts/icomoon.woff?4g6frm") format("woff"), url("../fonts/icomoon.svg?4g6frm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-target:before {
  content: "\e903"; }

.icon-social-linkedin:before {
  content: "\e902"; }

.icon-social-github:before {
  content: "\e901"; }

.icon-arrow-right-outline:before {
  content: "\e900"; }

.icon-document:before {
  content: "\e005"; }

.icon-pencil:before {
  content: "\e032"; }

.icon-circle-compass:before {
  content: "\e038"; }

.icon-global:before {
  content: "\e052"; }

.icon-linkedin:before {
  content: "\e062"; }
