.contact {
  overflow: auto;
  text-align: center;
  padding: 2em;
  margin-top: 1em;
  .title {
    text-align: center;
  }
  .email, .resume, .linkedin {
    float: left;
    width: 33%;
  }
  .email {
    margin-right: 0.499995%;
    margin-left: 0.499995%;
  }
}

