.contact {
  overflow: auto;
  text-align: center;
  padding: 2em;
  margin: 1em 0;
  .title {
    text-align: center;
    margin-bottom: .5em;
  }
  .email, .resume, .linkedin {
    float: left;
    width: 33%;
  }
  .email {
    margin-right: 0.499995%;
    margin-left: 0.499995%;
  }
}

