.coverpage-paragraph--section {
  padding: 5em 7em;
}

.coverpage-paragraph--text {
  text-align: justify;
  line-height: 2em;

}

@media (min-width: 5em) and (max-width: 60em) {
  .coverpage-paragraph--section {
    padding: 4em 2em;
  }
  .coverpage-paragraph--text {
    text-align: center;
  }
}
