.coverpage-paragraph--section {
  padding: 5em 10em;
}

.coverpage-paragraph--text {
  text-align: center;
  line-height: 1.5em;
  padding: 1.5em 0;
}

.coverpage-paragraph--text-center {
  text-align: center;
}

@media (min-width: 5em) and (max-width: 65em) {
  .coverpage-paragraph--section {
    padding: 4em 2em;
  }
  .coverpage-paragraph--text {
    text-align: center;
  }
}
