// BASE AND MODULE VARIABLES
// ---------------------------------------------

// Colors
$slate-gray: #1E1E20 !default;
$fourB-graphite-gray: #2A2C2B !default;
$hb-graphite-gray: rgba(57, 59, 58, 0.7) !default;
$h-graphite-gray: #555755 !default;
$tan: #D9CB9E !default;
$blood-orange: #DC3522 !default;
$burnt-orange: #DC591D !default;
$gold: #FF9E18 !default;
$texas-sky-blue: #3385FF !default;
$creamy-white: #FFFCEE !default;

// Em Spacing
$default-em: 1em !default;

// LEMONADE GRID VARIABLES
// ---------------------------------------------

// Helpers
$full:            100%;
$half:            100% / 2;

// Media Queries Breakpoints
// Can be tweaked if need be.
$small:           30em; // Portrait mobile to landscape mobile
$medium:          50em; // Portrait tablet to landscape tablet
$large:           68.750em; // Small desktop to large desktop

// Example padding for grid
// Doesn't actually need to be kept in.
$grid-padding:     0.3em;

// Grid widths
// ----------------------------------------------
// Feel free to change this to how many columns
// you want this grid system to have.
$start:           1;
$end:             12;

// Commons widths
// ----------------------------------------------
// A list that contains common percentage widths
// as column classes e.g grid-60, grid-40, grid-75
// customise this list as you require
$common: 25, 40, 60, 75;

// Frame width (grid wrapper)
$frame-width:     100%;

// Demo Colors
$lemonade-color:  #FCD920;
$new-grid-color:  #87D37C;
