// BASE AND MODULE VARIABLES
// --------------------------------------------- >>>

// Colors
// -------------------------------
$dev-color: #fea900 !default;  //macaw orange
$artist-color: #4fdfbb !default; //macaw blue
$darkest-graphite-gray: #2E2E2E !default; //darkest gray
$dark-graphite-gray: #303030 !default; //dark gray
$light-graphite-gray: #bdbdbd !default; //light gray
$light-macaw-blue: #2bffad !default;
$body-gray: #e7e7e8 !default;
$dev-navbar-background: rgba(255, 255, 255, .8) !default;


$burnt-orange: #DC591D !default;
$gold: #FF9E18 !default;
$texas-sky-blue: #3385FF !default;
$creamy-white: #FFFCEE !default;

//Font
// -------------------------------
$header-font: 'Quicksand', sans-serif;
$main-body-font: 'Lato', sans-serif;

// Em Spacing
$default-em: 1em !default;

// LEMONADE GRID VARIABLES
// --------------------------------------------- >>>

// Helpers
$full:            100%;
$half:            100% / 2;

// Media Queries Breakpoints
// Can be tweaked if need be.
$small:           30em; // Portrait mobile to landscape mobile
$medium:          50em; // Portrait tablet to landscape tablet
$large:           68.750em; // Small desktop to large desktop

// Example padding for grid
// Doesn't actually need to be kept in.
$grid-padding:     0.3em;

// Grid widths
// ----------------------------------------------
// Feel free to change this to how many columns
// you want this grid system to have.
$start:           1;
$end:             12;

// Commons widths
// ----------------------------------------------
// A list that contains common percentage widths
// as column classes e.g grid-60, grid-40, grid-75
// customise this list as you require
$common: 25, 40, 60, 75;

// Frame width (grid wrapper)
$frame-width:     100%;

// Demo Colors
$lemonade-color:  #FCD920;
$new-grid-color:  #87D37C;
