.coverpage-paragraph-section {
}

.coverpage-paragraph--text {
  font-family: $main-body-font;
  font-weight: 100;
  font-size: 1.5em;
}

@media (min-width: 5em) and (max-width: 65em) {
  .coverpage-paragraph--text {
    font-size: 1em;
  }
}
