body {
  margin: 0 auto;
  width: 90%;
  max-width: $default-em * 62.50;
}

main {
  overflow: hidden;
}

p {
  margin-top: $default-em / 2;
}

button {
  display: block;
  padding: $default-em * .5;
}

input {
  box-sizing: border-box;
  padding: .5em;
  margin-top: $default-em;
}

label {
  margin-top: $default-em;
}

footer {
  padding: $default-em * 2;
}
