  .arts-header {
  background-color: $artist-color;
  background-image: url('../pics/cropped-bw.jpg'), linear-gradient(90deg, $artist-color 10%, $artist-color 90%);;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

.arts-header--title {
  font-family: $header-font;
  font-weight: 200;
  font-size: 3em;
  color: white;
  transition: all .4s linear;
  a {
    color: white;
    &:hover {
      display:block;
      animation: shake 1s linear;
      -webkit-animation: shake 0.2s linear;
    }
  }
  &:hover {
    transform: translateY(10px);
  }
}

.oh-speech-bubble--active {
  background-color: white;
  border: 3px solid black;
  border-radius: 30px;

}

.oh-speech-bubble--text {
  font-weight: 300;
}

@keyframes shake {
  0% {
    transform: translateX(1px);
  }

  12.5% {
    transform: translateX(-1px);
  }

  25% {
    transform: translateX(1px);
  }

  37.5% {
    transform: translateX(-1px);
  }

  50% {
    transform: translateX(1px);
  }

  62.5% {
    transform: translateX(-1px);
  }


  75% {
    transform: translateX(1px);
  }


  87.5% {
    transform: translateX(-1px);
  }

  100% {
    transform: translateX(1px);
  }
}

@media (min-width: 5em) and (max-width: 65em) {
  .arts-header--title {
    font-size: 3.5em;
  }

  .oh-speech-bubble--active {
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;

  }

  .oh-speech-bubble--text {
    font-size: .7em;
    font-weight: 300;
  }
}
// @keyframes fadeIn {
//   0% {
//     opacity: 0.0;
//   }

//   100% {
//     opacity: 1;
//   }
// }

// @-webkit-keyframes fadeIn {
//   0% {
//     opacity: 0.0;
//   }

//   100% {
//     opacity: 1;
//   }
// }
