.gallery-piece--link {
  font-size: 1.75em;
  border-bottom: 3px solid transparent;
  transition: all .4s linear;
  &:hover {
    border-bottom:3px solid $light-macaw-blue;
  }
}


.gallery-piece--title {
  font-family: $header-font;
  font-weight: 200;
  font-size: 2em;
  letter-spacing: -.1em;
}

.gallery-piece--title-break {
  border: 1px solid $light-orange;
  border-radius: 50px;
}

@media (min-width: 5em) and (max-width: 65em) {

  .mobile-gallery-piece--navbar {
    margin: 0;
    background-color: $artist-color;
  }

  .gallery-piece--menu-icon {
    font-size: 1.7em;
  }

  .gallery-piece--navbar-li {
    border-bottom: 1px solid $artist-color;
  }
}
