.dev-header {
  position: fixed;
  // float: left;
  display: block;
  width: 20%;
  height: 100%;
  background-color: red;
}

.dev-main {
  // float: left;
  padding: 5em;
  margin-left: 0%;
}

.dev-body {
  overflow: auto;
}
