.dev-navbar {
  margin-top: 1em;
}

.dev-navbar--list {
  text-align: right;
  margin: 1em 0em 0 0em;
  padding: 0.5em 0.5em 0.5em 0;
}

.dev-navbar--div-outer {
  margin-left: 5em;
  transition: all 0.4s linear;
  &:hover {
    margin-left: 1em;
  }
  &:hover .dev-navbar--list {
    margin-left: 0.5em;
  }
  &:hover .dev-navbar--div-inner {
    margin-left: 1em;
  }
}

.dev-header--icon {
  padding: .2em;
  margin-bottom: 1em;
}

//MOBILE ------------------

.mobile-dev-navbar--section-hidden {
  display: none;
}

.mobile-icons {
  display: none;
}

@media (min-width: 5em) and (max-width: 65em) {
  .dev-navbar {
    display: none;
    // margin-right: 1em;
  }

//MOBILE ------------------
  .fixed-dev-nav {
    position: fixed;
  }

  .mobile-dev-navbar--section {
    display: block;
    text-align: center;
  }

  .mobile-dev-navbar--list {
    padding: .5em;
  }

  .mobile-dev-navbar--list--top {
    padding: .5em;
  }

  .mobile-dev-navbar--list-middle {
    padding: .5em;
  }

  .mobile-icons {
    overflow: auto;
    display: block;
    padding: .5em;
    margin-bottom: 2em;
  }
  .dev-header--icon {
    float: left;
    padding: 0;
    margin: 0 0 0 .2em;
  }

  .dev-header--icon-menu-close {
    float: right;
    margin: 0 .2em 0 0;
    padding: 0;
  }
}
