/*----- Footer Module -----*/
.page-header {
  font-family: 'NotCourierSans', courier;
  font-size: $default-em * 3;
  text-align: center;
  color: $burnt-orange;
  background-color: $fourB-graphite-gray;
}
