.primary-header {
  font-family: 'OpenSans', sans-serif;
  font-size: $default-em * 5;
  text-align: center;
  color: white;

  background-image: url('../pics/bw-macro.jpg'), linear-gradient(90deg, $dev-color 10%, $artist-color 90%);;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;

  transition:background-image 0.5s;
}

.secondary-header {
  color: black;
  &:visited {
    color: black;
    text-decoration: none;
  }
  .title-dev, .title-artist {
    font-size: 2em;
  }
}

// .secondary-header .title-dev, .secondary-header .title-artist {
//   font-size: 2em;
// }

.secondary-header .title-artist {
  background-color: white;
  border-bottom: 2px solid $artist-color;
  border-right: 2px solid $artist-color;
  transition: background-color .4s linear, color .4s linear, border .4s linear;
  &:hover {
    background-color: $artist-color;
    color: white;
  }
}

.secondary-header .title-dev  {
  background-color: white;
  border-bottom: 2px solid $dev-color;
  border-left: 2px solid $dev-color;
  transition: background-color .4s linear, color .4s linear, border .4s linear;
  &:hover {
    background-color: $dev-color;
    color: white;
  }
}

.spacer-1, .spacer-2 {
  border-bottom: 2px solid $dev-color;
}

.spacer-1 {
  border-right: 1.5px solid $dev-color;
}

.spacer-2 {
  border-left: 1.5px solid $dev-color;
}

.spacer-3, .spacer-4 {
  border-bottom: 2px solid $artist-color;
}

.spacer-3 {
  border-right: 1.5px solid $artist-color;
}

.spacer-4 {
  border-left: 1.5px solid $artist-color;
}
