html {
  // background-color: white;
}

body{
  font-family: $main-body-font;
  font-weight: 100;
  font-size: $default-em;
  letter-spacing: .05em;
  background-color: white;
  color: $dark-graphite-gray;
  &:not(.dev-body) {
  border: .8em solid #e7e7e8;
  }
  overflow: auto;
}

@media (min-width: 5em) and (max-width: 65em) {
  body {
    font-weight: 200;
  }
  body:not(.dev-body) {
    border: none;
  }
}

p {
  color: $dark-graphite-gray;
  letter-spacing: .05em;
}

em {
  // font-weight: 600;
  letter-spacing: .05em;
}

a {
  text-decoration: none;
  color: $dark-graphite-gray;
  &:visited {
    color: $dark-graphite-gray;
  }
}

footer {
  background-color: grey;
  p {
    text-align: center;
    font-size: $default-em * 2;
  }
}

.bolder {
  font-weight: 300;
}
