@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?jct1qu');
	src:url('../fonts/icomoon.eot?jct1qu#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?jct1qu') format('truetype'),
		url('../fonts/icomoon.woff?jct1qu') format('woff'),
		url('../fonts/icomoon.svg?jct1qu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-social-github:before {
	content: "\e901";
}
.icon-document:before {
	content: "\e005";
}
.icon-pencil:before {
	content: "\e032";
}
.icon-linkedin:before {
	content: "\e062";
}

