@charset "UTF-8";
/*-- MEYER RESET
–––––––––––––––––––––––––––––––––––––––––––––––––– --*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: .05em;
  background-color: white;
  color: #303030;
  overflow: auto; }
  body:not(.dev-body) {
    border: .8em solid #e7e7e8; }

@media (min-width: 5em) and (max-width: 65em) {
  body {
    font-weight: 200; }
  body:not(.dev-body) {
    border: none; } }

p {
  color: #303030;
  letter-spacing: .05em; }

em {
  letter-spacing: .05em; }

a {
  text-decoration: none;
  color: #303030; }
  a:visited {
    color: #303030; }

footer {
  background-color: grey; }
  footer p {
    text-align: center;
    font-size: 2em; }

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100%; }

.coverpage-main {
  width: 90%;
  margin: 0 auto;
  overflow: auto; }

p {
  margin-top: 0.5em; }

button {
  display: block;
  padding: 0.5em; }

input {
  box-sizing: border-box;
  padding: .5em;
  margin-top: 1em; }

label {
  margin-top: 1em; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.frame {
  margin: 0 auto;
  max-width: 100%; }
  .frame:after {
    content: "";
    display: table;
    clear: both; }

[class*='grid-'] {
  float: left;
  padding: 0.3em; }

.grid-1 {
  width: 100%; }

.grid-2 {
  width: 50%; }

.grid-3 {
  width: 33.33333%; }

.grid-4 {
  width: 25%; }

.grid-5 {
  width: 20%; }

.grid-6 {
  width: 16.66667%; }

.grid-7 {
  width: 14.28571%; }

.grid-8 {
  width: 12.5%; }

.grid-9 {
  width: 11.11111%; }

.grid-10 {
  width: 10%; }

.grid-11 {
  width: 9.09091%; }

.grid-12 {
  width: 8.33333%; }

.grid-25 {
  width: 25%; }

.grid-40 {
  width: 40%; }

.grid-60 {
  width: 60%; }

.grid-75 {
  width: 75%; }

@media (max-width: 30em) {
  .grid-1 {
    width: 100%; }
  .grid-2 {
    width: 100%; }
  .grid-3 {
    width: 100%; }
  .grid-4 {
    width: 100%; }
  .grid-5 {
    width: 100%; }
  .grid-6 {
    width: 100%; }
  .grid-7 {
    width: 100%; }
  .grid-8 {
    width: 100%; }
  .grid-9 {
    width: 100%; }
  .grid-10 {
    width: 100%; }
  .grid-11 {
    width: 100%; }
  .grid-12 {
    width: 100%; } }

@media (min-width: 30em) and (max-width: 50em) {
  .grid-4,
  .grid-6,
  .grid-8,
  .grid-10,
  .grid-12 {
    width: 50%; }
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-5,
  .grid-7,
  .grid-9,
  .grid-11 {
    width: 100%; } }

@media (min-width: 50em) and (max-width: 68.75em) {
  .grid-2,
  .grid-7 {
    width: 100%; }
  .grid-4,
  .grid-8,
  .grid-10,
  .grid-12 {
    width: 50%; } }

header {
  text-align: center;
  padding: 0em 0 0em 0;
  overflow: auto; }

.primary-header {
  text-align: center;
  padding: 12em; }
  @media (min-width: 5em) and (max-width: 65em) {
    .primary-header {
      padding: 5em 0em 5em 0em; } }

.secondary-header, .secondary-header--link-dev, .secondary-header--link-artist {
  overflow: auto; }

.secondary-header .title-dev, .secondary-header .title-artist {
  float: left;
  width: 50%;
  padding: 1em;
  text-align: center; }

@media (min-width: 5em) and (max-width: 65em) {
  .secondary-header .title-dev, .secondary-header .title-artist {
    width: 100%; }
  .secondary-header .title-dev {
    margin-bottom: 1em; }
  .secondary-header .title-artist {
    margin-top: 1em; } }

.mobile-and {
  display: none; }

@media (min-width: 5em) and (max-width: 65em) {
  .mobile-and {
    display: block; } }

.spacer-1, .spacer-2, .spacer-3, .spacer-4 {
  float: left;
  width: 25%;
  height: 5em; }

@media (min-width: 5em) and (max-width: 65em) {
  .spacer-1, .spacer-2, .spacer-3, .spacer-4 {
    display: none; } }

.spacer-section--two {
  overflow: auto; }

.spacer-5, .spacer-6 {
  float: left;
  width: 50%; }

footer {
  padding: 5em; }

.footer-copywright {
  font-size: .9em;
  font-weight: 100;
  color: white; }

.icon-github {
  display: block;
  margin: 0 auto; }

@media (min-width: 5em) and (max-width: 65em) {
  footer {
    padding: 5em 1em; }
  .footer-copywright {
    font-size: .8em; } }

.contact {
  overflow: auto;
  text-align: center;
  padding: 5em 2em; }
  .contact .title {
    text-align: center;
    margin-bottom: 1em; }
  .contact .contact-email, .contact .contact-resume, .contact .contact-linkedin {
    float: left;
    width: 33%;
    padding: 2.5em 1em 2.5em 1em; }
  .contact .contact-email {
    margin-right: 0.499995%;
    margin-left: 0.499995%; }

@media (min-width: 5em) and (max-width: 65em) {
  .contact {
    padding: 5em 0; }
    .contact .title {
      margin: 0; }
    .contact .contact-email, .contact .contact-resume, .contact .contact-linkedin {
      width: 100%;
      margin: 0; } }

.contact-form--section {
  position: absolute;
  z-index: -201; }

.coverpage-paragraph--section {
  padding: 5em 7em; }

.coverpage-paragraph--text {
  text-align: justify;
  line-height: 1.5em;
  padding: 1.5em 0; }

.coverpage-paragraph--text-center {
  text-align: center; }

@media (min-width: 5em) and (max-width: 65em) {
  .coverpage-paragraph--section {
    padding: 4em 2em; }
  .coverpage-paragraph--text {
    text-align: center; } }

.coverpage-icon {
  display: inline-block;
  margin-bottom: .5em; }

.arts-header {
  text-align: left;
  padding: 7em 0em 0em 0em;
  overflow: auto; }

.arts-header--title {
  padding-left: .5em;
  width: 30%; }

.oh-speech-bubble {
  position: absolute;
  padding: 1em;
  left: 240px;
  top: 70px;
  z-index: -10; }

.oh-speech-bubble--active {
  position: absolute;
  padding: 1em;
  left: 240px;
  top: 70px;
  z-index: 10; }

@media (min-width: 5em) and (max-width: 65em) {
  .arts-header {
    text-align: center;
    padding: 0; }
  .arts-header--title {
    padding: 1em 0;
    display: block;
    margin: 0 auto;
    width: 100%; }
  .oh-speech-bubble {
    position: absolute;
    padding: 1em;
    left: 240px;
    top: 70px;
    z-index: -10; }
  .oh-speech-bubble--active {
    position: absolute;
    padding: 1em;
    left: 250px;
    top: 2px;
    z-index: 10; } }

.arts-navbar {
  overflow: auto;
  padding: 0 0.5em 0em 0; }

.arts-navbar--link {
  float: right;
  padding: 0.5em 0.5em 0.25em 0.5em; }

.arts-hero {
  padding: 10em 10em 10em 10em; }

.arts-hero--text {
  text-align: justify;
  line-height: 1.5em; }

.arts-hero--title {
  text-align: center;
  margin-bottom: 1em; }

.mobile-arts-navbar {
  display: none; }

@media (min-width: 5em) and (max-width: 65em) {
  .arts-navbar {
    display: none;
    padding: 0; }
  .arts-navbar--link {
    float: none;
    display: block; }
  .mobile-arts-navbar--active {
    background-color: white;
    display: block;
    text-align: center; }
  .arts-hero {
    padding: 5em 1em; } }

.arts-gallery {
  overflow: auto;
  padding: 2.5em 2.5em 5em 2.5em; }

.arts-gallery--medium-title {
  display: block;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 0.5em 0em 0.5em 0; }

.arts-gallery--title-break {
  width: 40%;
  display: block;
  margin: 0 auto; }

.arts-gallery--piece-image {
  display: block;
  margin: 0 auto;
  padding: 2.5em; }

.view-more-section {
  display: block;
  text-align: center;
  margin: 0 auto;
  overflow: auto;
  width: 40%; }
  .view-more-section:hover .arts-gallery--icon {
    transform: translateX(10px);
    z-index: 0; }
  .view-more-section:hover {
    cursor: pointer; }

.view-bar {
  display: block;
  margin: 0 auto; }

.arts-gallery--icon {
  margin-left: 0;
  transition: all 0.4s linear; }

.arts-gallery--view, .arts-gallery--icon {
  display: inline-block; }

.arts-gallery--view {
  padding: .5em;
  background-color: white;
  transition: all 1s linear;
  z-index: 0; }

.arts-gallery--icon {
  position: absolute;
  margin-top: 1em; }

@keyframes bounceArrow {
  0% {
    transform: translateX(0px); }
  25% {
    transform: translateX(6px); }
  50% {
    transform: translateX(0px); }
  75% {
    transform: translateX(6px); }
  100% {
    transform: translateX(0px); } }

@media (min-width: 5em) and (max-width: 65em) {
  .arts-gallery {
    padding: 1em; }
  .arts-gallery--title-break {
    width: 40%;
    display: block;
    margin: 0 auto 1em auto; }
  .arts-gallery--piece-image {
    float: none;
    width: 100%;
    padding: 1em; }
  .arts-gallery--piece-text {
    float: none;
    width: 100%;
    padding: 1em 0; }
  .arts-gallery--piece-title {
    text-align: center; }
  .arts-gallery--piece-date {
    text-align: center;
    font-size: 1em; }
  .arts-gallery--piece-description {
    text-align: justify;
    line-height: 1.5em;
    padding: 1em 0; }
  .view-more-section {
    width: 100%; }
    .view-more-section:hover .arts-gallery--icon {
      transform: none; }
  .view-bar {
    width: 40%; }
  .arts-gallery--icon {
    position: relative;
    margin-top: 0;
    transform: none;
    z-index: 0; }
    .arts-gallery--icon:hover {
      transform: none; } }

.gallery-medium-hero {
  padding: 10em 10em 5em 10em;
  text-align: center; }

.gallery-medium--grid {
  overflow: auto;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 5em 0; }

.gallery-medium--image-section {
  float: left;
  width: 33.3333%;
  padding: 2em;
  transition: all 0.4s linear; }
  .gallery-medium--image-section:hover {
    background-color: #e7e7e8;
    cursor: pointer; }

.gallery-medium--image {
  margin-bottom: 1em; }

@media (min-width: 5em) and (max-width: 65em) {
  .gallery-medium-hero {
    padding: 2em 0;
    text-align: center; }
  .gallery-medium--grid {
    width: 95%; }
  .gallery-medium--image-section {
    position: relative;
    width: 100%;
    padding: 1em; }
  .gallery-medium--image {
    width: 100%; } }

.gallery-piece--header {
  padding: .5em 0; }

.gallery-piece--navbar {
  display: inline-block;
  overflow: auto;
  padding: 0 0.5em 0em 0; }

.mobile-gallery-piece--navbar {
  display: none; }

.gallery-piece--navbar-li {
  display: inline-block; }

.gallery-piece--link {
  display: inline-block;
  padding: 0.5em 0.5em 0.25em 0.5em; }

.gallery-piece--home-icon {
  margin: 0; }

.gallery-piece--title {
  display: block;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 0.5em 0em 0.5em 0; }

.gallery-piece--title-break {
  width: 40%;
  display: block;
  margin: 0 auto; }

.gallery-main--section {
  display: block;
  margin: 0 auto;
  padding: 2em 0 2em 0; }

.gallery-main--image {
  display: block;
  margin: 0 auto; }

.gallery-thumbnail--section {
  margin: 0 auto;
  text-align: center; }

.gallery-thumbnail {
  display: inline-block;
  padding: 0 0 5em 0; }

.gallery-thumbnail--image {
  height: 100px;
  border: .2em solid transparent;
  transition: all 0.4s linear; }

.gallery-thumbnail--image:hover {
  border: 0.2em solid #FFB400; }

@media (min-width: 5em) and (max-width: 65em) {
  .gallery-piece--header {
    padding: 0; }
  .mobile-gallery-piece--navbar {
    display: block;
    padding: .5em;
    text-align: center; }
  .gallery-piece--link {
    padding: .5em; }
  .gallery-piece--navbar {
    display: none; }
  .gallery-piece--navbar--active {
    display: block; }
  .gallery-piece--navbar-li {
    display: block; }
  .gallery-piece--menu-icon {
    margin: 0; }
  .gallery-main--image {
    max-width: 752px;
    width: 100%; }
  .gallery-thumbnail {
    padding: 0; }
  .gallery-thumbnail--section {
    padding: 0 0 5em 0; } }

.dev-header {
  position: fixed;
  display: block;
  overflow: auto;
  width: 256px;
  height: 100%; }

.dev-footer {
  margin-left: 256px;
  margin-top: 5em; }

.dev-body {
  border-right: 0.8em solid #e7e7e8;
  border-left: 0.8em solid #e7e7e8;
  overflow: auto; }

@media (min-width: 5em) and (max-width: 65em) {
  .dev-body {
    border: none; }
  .dev-header {
    position: relative;
    display: block;
    width: 100%;
    height: auto; }
  .dev-body {
    margin: 0; }
  .dev-footer {
    margin: 0; } }

.dev-navbar {
  margin-top: 1em; }

.dev-navbar--list {
  text-align: right;
  margin: 1em 0em 0 0em;
  padding: 0.5em 0.5em 0.5em 0; }

.dev-navbar--div-outer {
  margin-left: 5em;
  transition: all 0.4s linear; }
  .dev-navbar--div-outer:hover {
    margin-left: 1em; }
  .dev-navbar--div-outer:hover .dev-navbar--list {
    margin-left: 0.5em; }
  .dev-navbar--div-outer:hover .dev-navbar--div-inner {
    margin-left: 1em; }

.dev-header--icon {
  padding: .2em;
  margin-bottom: 1em; }

.mobile-dev-navbar--section-hidden {
  display: none; }

.mobile-icons {
  display: none; }

@media (min-width: 5em) and (max-width: 65em) {
  .dev-navbar {
    display: none; }
  .fixed-dev-nav {
    position: fixed; }
  .mobile-dev-navbar--section {
    display: block;
    text-align: center; }
  .mobile-dev-navbar--list {
    padding: .5em; }
  .mobile-dev-navbar--list--top {
    padding: .5em; }
  .mobile-dev-navbar--list-middle {
    padding: .5em; }
  .mobile-icons {
    overflow: auto;
    display: block;
    padding: .5em;
    margin-bottom: 2em; }
  .dev-header--icon {
    float: left;
    padding: 0;
    margin: 0 0 0 0.2em; }
  .dev-header--icon-menu-close {
    float: right;
    margin: 0 0.2em 0 0;
    padding: 0; } }

.scroll-up {
  position: fixed;
  top: 50%;
  left: 94.5%;
  background-color: #e7e7e8;
  width: 5%;
  padding: 1em 0;
  font-size: 1.2em; }
  .scroll-up:hover {
    cursor: pointer; }
  .scroll-up:hover .scroll-up--icon {
    transform: translatey(-5px); }

.scroll-up--icon {
  text-align: center;
  font-size: 1em;
  transition: all 0.4s linear;
  margin: 0; }

.dev-main {
  padding: 2.5em 5em;
  height: 100%;
  margin-left: 256px; }

.dev-main--pagebreak {
  margin: 0.5em 0 1em 0; }

.dev-main--secondary-title {
  padding-top: .5em;
  margin-top: 2em; }

.dev-main--title-secondary {
  margin-top: .5em; }

.dev-info--p {
  margin-top: 1em; }

.dev-skills {
  overflow: auto; }

.skill-grid {
  float: left;
  width: 25%;
  padding: 1em 0.25em; }

.skill-section {
  margin: 1em 0; }

.skill-title {
  text-align: center;
  padding: 1em 0; }

.skill-list {
  text-align: center;
  padding: .5em 0; }

.project-grid {
  overflow: auto;
  margin: 4em 0; }

.project-section {
  float: left;
  width: 50%;
  padding: 1em; }

.project-image {
  width: 100%; }

.project-title {
  text-align: center;
  margin: 0.25em 0 0.25em 0; }

.project-description {
  display: block;
  margin: 0 auto;
  margin-top: .5em;
  text-align: center;
  width: 80%;
  line-height: 1.1em; }

.title-break {
  display: block;
  margin: 0 auto;
  width: 40%; }

.project-icon--main {
  text-align: center; }

.project-icon--section {
  display: inline-block;
  margin: 0em 2em 0 2em; }

.icon-label {
  margin-top: .75em; }

@media (min-width: 5em) and (max-width: 65em) {
  .scroll-up {
    display: none; }
  .dev-main {
    padding: 0;
    height: auto;
    margin: 0; }
  .dev-main--title {
    margin-top: 1em;
    text-align: center; }
  .dev-main--title-secondary {
    text-align: center;
    margin-bottom: 1em; }
  .dev-info--p {
    margin-top: 1em;
    padding: 0 1em 0 1em; }
  .dev-main--secondary-title {
    text-align: center; }
  .dev-main--pagebreak {
    margin: 0.5em 0 2em 0; }
  .skill-grid {
    float: none;
    display: block;
    width: 100%;
    padding: 0 1em; }
  .skill-section {
    display: block;
    margin: 0 auto; }
  .project-section {
    float: none;
    display: block;
    width: 100%;
    padding: 1em; }
  .project-image {
    width: 100%; }
  .dev-about {
    margin-bottom: 2em; }
  .my-pic {
    width: 100%; } }

.dev-contact {
  overflow: auto;
  text-align: center;
  padding: 3em 0; }
  .dev-contact .title {
    text-align: center;
    margin-bottom: 1em; }
  .dev-contact .dev-contact-email, .dev-contact .dev-contact-resume, .dev-contact .dev-contact-linkedin, .dev-contact .dev-contact-github {
    float: left;
    width: 25%;
    padding: 2.5em 1em 2.5em 1em; }

@media (min-width: 5em) and (max-width: 65em) {
  .dev-contact {
    padding: 2em 0; }
    .dev-contact .title {
      margin: 0; }
    .dev-contact .dev-contact-email, .dev-contact .dev-contact-resume, .dev-contact .dev-contact-linkedin, .dev-contact .dev-contact-github {
      width: 100%;
      margin: 0; } }

.primary-header {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  color: white;
  background-image: url("../pics/bw-macro.jpg"), linear-gradient(90deg, #fea900 10%, #4fdfbb 90%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  transition: background-image 0.5s; }

.primary-header--title {
  font-size: 8em; }

@media (min-width: 5em) and (max-width: 65em) {
  .primary-header {
    border-bottom: 10px solid #e7e7e8; }
  .primary-header--title {
    font-size: 3.5em; } }

.secondary-header {
  color: #303030; }
  .secondary-header:visited {
    color: #303030;
    text-decoration: none; }
  .secondary-header .title-dev, .secondary-header .title-artist {
    font-size: 2em; }

.secondary-header .title-artist {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  background-color: white;
  border-bottom: 2px solid #4fdfbb;
  border-right: 2px solid #4fdfbb;
  transition: background-color 0.4s linear, color 0.4s linear, border 0.4s linear; }
  .secondary-header .title-artist:hover {
    background-color: #4fdfbb;
    color: white; }

@media (min-width: 5em) and (max-width: 65em) {
  .secondary-header .title-artist {
    font-size: 1.2em;
    border-top: 2px solid #4fdfbb;
    border-bottom: 2px solid #4fdfbb; } }

.secondary-header .title-dev {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  background-color: white;
  border-bottom: 2px solid #fea900;
  border-left: 2px solid #fea900;
  transition: background-color 0.4s linear, color 0.4s linear, border 0.4s linear; }
  .secondary-header .title-dev:hover {
    background-color: #fea900;
    color: white; }

@media (min-width: 5em) and (max-width: 65em) {
  .secondary-header .title-dev {
    font-size: 1.2em;
    border-top: 2px solid #fea900;
    border-bottom: 2px solid #fea900;
    border-left: none; } }

.spacer-1, .spacer-2 {
  border-bottom: 2px solid #fea900; }

.spacer-1 {
  border-right: 1.5px solid #fea900; }

.spacer-2 {
  border-left: 1.5px solid #fea900; }

.spacer-3, .spacer-4 {
  border-bottom: 2px solid #4fdfbb; }

.spacer-3 {
  border-right: 1.5px solid #4fdfbb; }

.spacer-4 {
  border-left: 1.5px solid #4fdfbb; }

.spacer-5 {
  border-bottom: 2px solid #fea900; }

.spacer-6 {
  border-bottom: 2px solid #4fdfbb; }

/*----- Footer Module -----*/
.icon-github {
  color: #FFFCEE;
  font-size: 2em;
  transition: color 0.2s linear; }
  .icon-github:visited {
    color: #fff; }
  .icon-github:hover {
    color: #FF9E18; }

.coverpage-paragraph--text {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 1.5em; }

.coverpage-paragraph--text-center {
  font-family: "Quicksand", sans-serif;
  font-size: 2em;
  font-weight: 200;
  color: #303030; }

.coverpage--dev-link {
  color: #fea900;
  font-weight: 200; }
  .coverpage--dev-link:visited {
    color: #fea900; }

.coverpage--arts-link {
  color: #4fdfbb;
  font-weight: 200; }
  .coverpage--arts-link:visited {
    color: #4fdfbb; }

@media (min-width: 5em) and (max-width: 65em) {
  .coverpage-paragraph--text {
    font-size: 1em; } }

.contact .title {
  font-family: "Quicksand", sans-serif;
  font-size: 2em;
  font-weight: 200;
  color: #303030; }

.contact .contact-header {
  font-size: 1.5em;
  transition: all 0.4s linear; }

.contact .contact-email, .contact .contact-resume, .contact .contact-linkedin {
  border-top: 1px solid transparent;
  transition: all 0.4s linear; }
  .contact .contact-email:hover, .contact .contact-resume:hover, .contact .contact-linkedin:hover {
    border-top: 1px solid #303030;
    cursor: pointer; }
  .contact .contact-email:hover .coverpage-icon, .contact .contact-resume:hover .coverpage-icon, .contact .contact-linkedin:hover .coverpage-icon {
    color: #303030;
    transform: scale(1.2); }
  .contact .contact-email:hover .contact-header, .contact .contact-resume:hover .contact-header, .contact .contact-linkedin:hover .contact-header {
    transform: scale(1.1); }

.coverpage-icon {
  color: #bdbdbd;
  font-size: 5em;
  transition: all 0.4s linear; }

@media (min-width: 5em) and (max-width: 65em) {
  .contact .contact-resume {
    border-top: 1px solid transparent; }
    .contact .contact-resume:hover {
      border-top: 1px solid transparent; }
  .contact .contact-email, .contact .contact-linkedin {
    border-top: 1px solid #bdbdbd; }
    .contact .contact-email:hover, .contact .contact-linkedin:hover {
      border-top: 1px solid #303030;
      cursor: pointer; }
    .contact .contact-email:hover .coverpage-icon, .contact .contact-linkedin:hover .coverpage-icon {
      color: #303030;
      transform: scale(1.2); }
    .contact .contact-email:hover .contact-header, .contact .contact-linkedin:hover .contact-header {
      transform: scale(1.1); } }

.coverpage-icon {
  color: #bdbdbd;
  font-size: 5em;
  transition: all 0.4s linear; }

.arts-header {
  background-color: #4fdfbb;
  background-image: url("../pics/cropped-bw.jpg"), linear-gradient(90deg, #4fdfbb 10%, #4fdfbb 90%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply; }

.arts-header--title {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  font-size: 3em;
  color: white;
  transition: all 0.4s linear; }
  .arts-header--title a {
    color: white; }
    .arts-header--title a:hover {
      display: block;
      animation: shake 1s linear;
      -webkit-animation: shake 0.2s linear; }
  .arts-header--title:hover {
    transform: translateY(10px); }

.oh-speech-bubble--active {
  background-color: white;
  border: 3px solid black;
  border-radius: 30px; }

.oh-speech-bubble--text {
  font-weight: 300; }

@keyframes shake {
  0% {
    transform: translateX(1px); }
  12.5% {
    transform: translateX(-1px); }
  25% {
    transform: translateX(1px); }
  37.5% {
    transform: translateX(-1px); }
  50% {
    transform: translateX(1px); }
  62.5% {
    transform: translateX(-1px); }
  75% {
    transform: translateX(1px); }
  87.5% {
    transform: translateX(-1px); }
  100% {
    transform: translateX(1px); } }

@media (min-width: 5em) and (max-width: 65em) {
  .arts-header--title {
    font-size: 3.5em; }
  .oh-speech-bubble--active {
    background-color: white;
    border: 1px solid black;
    border-radius: 30px; }
  .oh-speech-bubble--text {
    font-size: .7em;
    font-weight: 300; } }

.arts-navbar {
  background-color: white; }

.arts-navbar--link {
  font-size: 1.75em;
  border-bottom: 3px solid transparent;
  transition: all 0.4s linear; }
  .arts-navbar--link:hover {
    border-bottom: 3px solid #2bffad; }

.arts-hero--text {
  font-size: 1.5em; }

.arts-hero--title {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  font-size: 2em;
  text-align: center; }

.arts-navbar--home-icon {
  margin: 0; }

@media (min-width: 5em) and (max-width: 65em) {
  .arts-navbar--link {
    border-bottom: 1px solid #bdbdbd; }
    .arts-navbar--link:hover {
      border-bottom: 1px solid #2bffad; }
  .arts-hero--text {
    font-size: 1em; } }

.construction {
  background-color: #ff6700;
  text-align: center;
  margin-top: 3em;
  padding: 5em 0em; }
  .construction h1 {
    font-size: 3em;
    color: white;
    font-weight: 300; }
  .construction h3 {
    font-size: 2em;
    color: white;
    font-weight: 200;
    margin-top: 1em; }

@media (min-width: 5em) and (max-width: 65em) {
  .construction {
    padding: 2em 0; } }

.arts-gallery {
  background-color: white; }

.arts-gallery--medium-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  font-size: 2em; }

.arts-gallery--title-break {
  border: 1px solid #2bffad;
  border-radius: 50px; }

.arts-gallery--piece-image {
  background-color: white; }

.arts-gallery--piece-title {
  font-size: 1.5em;
  font-weight: 200; }

.arts-gallery--piece-date {
  font-size: 1em; }

.arts-gallery--piece-description {
  font-size: 1.1em;
  text-align: justify;
  line-height: 1.5em; }

.arts-gallery--view {
  font-size: 2em; }

.arts-gallery--icon {
  color: black; }

.view-more-section:hover .icon-chevron-right-circle {
  color: #fea900; }

.icon-chevron-right-circle {
  color: white;
  font-size: 2em;
  transition: all 0.4s linear; }

.arts-gallery--view {
  font-weight: 200; }

.arts-gallery--pagebreak {
  border: 7px solid #e7e7e8; }

.view-bar {
  border: 1px solid #fea900; }

@media (min-width: 5em) and (max-width: 65em) {
  .arts-gallery--piece-description {
    font-size: 1em;
    line-height: 1.5em; }
  .icon-chevron-right-circle {
    color: #fea900;
    font-size: 2em;
    transition: all 0.4s linear; } }

.gallery-piece--link {
  font-size: 1.75em;
  border-bottom: 3px solid transparent;
  transition: all 0.4s linear; }
  .gallery-piece--link:hover {
    border-bottom: 3px solid #2bffad; }

.gallery-piece--title {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  font-size: 2em;
  letter-spacing: -.1em; }

.gallery-piece--title-break {
  border: 1px solid #FFB400;
  border-radius: 50px; }

@media (min-width: 5em) and (max-width: 65em) {
  .mobile-gallery-piece--navbar {
    margin: 0;
    background-color: #4fdfbb; }
  .gallery-piece--menu-icon {
    font-size: 1.7em; }
  .gallery-piece--navbar-li {
    border-bottom: 1px solid #4fdfbb; } }

.dev-header {
  background-color: #fea900;
  background-image: url("../pics/cropped-bw.jpg"), linear-gradient(90deg, #fea900 10%, #fea900 90%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply; }

.dev-navbar--list {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5em;
  border-left: 1px solid white;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.4s linear; }
  .dev-navbar--list:hover {
    cursor: pointer;
    background-color: white;
    border-left: 5px solid #FFB400; }

.dev-navbar--link {
  color: #2E2E2E; }
  .dev-navbar--link:visited {
    color: #2E2E2E; }

.dev-navbar--div-inner {
  border-left: 1px solid white;
  transition: all 0.4s linear; }

.dev-navbar--div-outer {
  border-left: 1px solid white;
  transition: all 0.4s linear; }
  .dev-navbar--div-outer:hover {
    border-left: 1px solid #FFB400; }
  .dev-navbar--div-outer:hover .dev-navbar--list {
    border-left: 5px solid #FFB400; }
  .dev-navbar--div-outer:hover .dev-navbar--div-inner {
    border-left: 2.5px solid #FFB400; }

.dev-header--icon {
  color: #FFB400;
  font-size: 3em;
  border-bottom: 2px solid white;
  background-color: white; }

@media (min-width: 5em) and (max-width: 65em) {
  .fixed-dev-nav {
    margin: 0;
    width: 100%; }
  .mobile-dev-navbar--list {
    font-size: 1.7em;
    border-bottom: 1px solid #78787a;
    background-color: white; }
  .mobile-dev-navbar--list--top {
    font-size: 2.5em;
    border-bottom: 1px solid #78787a;
    background-color: white; }
  .mobile-icons {
    background-color: #78787a; }
  .dev-header--icon {
    font-size: 2.5em;
    color: white;
    background-color: #78787a;
    border: none; }
  .dev-header--icon-menu-close {
    color: white;
    font-size: 2.5em; }
    .dev-header--icon-menu-close:hover {
      cursor: pointer; } }

.dev-main--pagebreak {
  border: 1px solid #FFB400;
  border-radius: 5px; }

.dev-main--title {
  font-family: "Quicksand", sans-serif;
  color: #2E2E2E;
  font-size: 3em;
  font-weight: 200; }

.dev-main--title-secondary {
  color: #bdbdbd;
  font-weight: 100;
  font-size: 2em; }

.dev-main--secondary-title {
  font-family: "Quicksand", sans-serif;
  font-size: 2em;
  font-weight: 200; }

.dev-info--p {
  font-size: 1.5em;
  line-height: 1.5em; }

.skill-section {
  background-color: #e7e7e8; }

.skill-title {
  font-size: 1.7em;
  font-weight: 300;
  background-color: white;
  border-bottom: 3px solid #4fdfbb; }

.skill-list {
  font-size: 1.5em; }

.project-title {
  font-size: 1.7em;
  font-weight: 200; }

.title-break {
  border: 1.5px solid #4fdfbb;
  border-radius: 5px; }

.project-icon--section:hover {
  cursor: pointer; }

.project-icon--section:hover .project-icon {
  color: #303030;
  transform: scale(1.2); }

.project-icon--section:hover .icon-label {
  color: #303030;
  transform: scale(1.1); }

.project-icon {
  font-size: 4.5em;
  color: #bdbdbd;
  transition: all 0.4s linear; }

.project-description {
  font-size: 1.2em; }

.icon-label {
  font-size: 1.2em;
  font-weight: 100;
  transition: all 0.4s linear; }

.ellen-link {
  color: #fe3293;
  font-weight: 200; }
  .ellen-link:visited {
    color: #fe3293; }

@media (min-width: 5em) and (max-width: 65em) {
  .dev-section {
    padding: .2em 0 0 0; }
  .dev-main {
    border-top: 5em solid #fea900; }
  .dev-main--title {
    font-size: 2.5em;
    font-weight: 200; }
  .dev-main--title-secondary {
    color: #2E2E2E;
    font-weight: 200;
    font-size: 2em; } }

.dev-contact .title {
  font-family: "Quicksand", sans-serif;
  font-size: 2em;
  font-weight: 200;
  color: #303030; }

.dev-contact .dev-contact-header {
  font-size: 1.5em;
  transition: all 0.4s linear; }

.dev-contact .dev-contact-email, .dev-contact .dev-contact-resume, .dev-contact .dev-contact-linkedin, .dev-contact .dev-contact-github {
  border-top: 1px solid transparent;
  transition: all 0.4s linear; }
  .dev-contact .dev-contact-email:hover, .dev-contact .dev-contact-resume:hover, .dev-contact .dev-contact-linkedin:hover, .dev-contact .dev-contact-github:hover {
    border-top: 1px solid #303030;
    cursor: pointer; }
  .dev-contact .dev-contact-email:hover .coverpage-icon, .dev-contact .dev-contact-resume:hover .coverpage-icon, .dev-contact .dev-contact-linkedin:hover .coverpage-icon, .dev-contact .dev-contact-github:hover .coverpage-icon {
    color: #303030;
    transform: scale(1.2); }
  .dev-contact .dev-contact-email:hover .dev-contact-header, .dev-contact .dev-contact-resume:hover .dev-contact-header, .dev-contact .dev-contact-linkedin:hover .dev-contact-header, .dev-contact .dev-contact-github:hover .dev-contact-header {
    transform: scale(1.1); }

.coverpage-icon {
  color: #bdbdbd;
  font-size: 5em;
  transition: all 0.4s linear; }

@media (min-width: 5em) and (max-width: 65em) {
  .dev-contact .dev-contact-resume {
    border-top: 1px solid transparent; }
    .dev-contact .dev-contact-resume:hover {
      border-top: 1px solid transparent; }
  .dev-contact .dev-contact-email, .dev-contact .dev-contact-linkedin, .dev-contact .dev-contact-github, .dev-contact .dev-contact-resume {
    border-top: 1px solid #bdbdbd; }
    .dev-contact .dev-contact-email:hover, .dev-contact .dev-contact-linkedin:hover, .dev-contact .dev-contact-github:hover, .dev-contact .dev-contact-resume:hover {
      border-top: 1px solid #303030;
      cursor: pointer; }
    .dev-contact .dev-contact-email:hover .coverpage-icon, .dev-contact .dev-contact-linkedin:hover .coverpage-icon, .dev-contact .dev-contact-github:hover .coverpage-icon, .dev-contact .dev-contact-resume:hover .coverpage-icon {
      color: #303030;
      transform: scale(1.2); }
    .dev-contact .dev-contact-email:hover .dev-contact-header, .dev-contact .dev-contact-linkedin:hover .dev-contact-header, .dev-contact .dev-contact-github:hover .dev-contact-header, .dev-contact .dev-contact-resume:hover .dev-contact-header {
      transform: scale(1.1); } }

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/quicksand/Quicksand-Light.otf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/quicksand/Quicksand-Regular.otf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/quicksand/Quicksand-Bold.otf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Medium.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Semibold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/OpenSans-Semibold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?3bzihn");
  src: url("../fonts/icomoon.eot?3bzihn#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff2?3bzihn") format("woff2"), url("../fonts/icomoon.ttf?3bzihn") format("truetype"), url("../fonts/icomoon.woff?3bzihn") format("woff"), url("../fonts/icomoon.svg?3bzihn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-home2:before {
  content: "\e600"; }

.icon-cross2:before {
  content: "\e92a"; }

.icon-menu2:before {
  content: "\e92b"; }

.icon-chevron-up:before {
  content: "\e939"; }

.icon-chevron-up-circle:before {
  content: "\e962"; }

.icon-chevron-left-circle:before {
  content: "\e964"; }

.icon-chevron-right-circle:before {
  content: "\e965"; }

.icon-document:before {
  content: "\e005"; }

.icon-pictures:before {
  content: "\e010"; }

.icon-pencil:before {
  content: "\e032"; }

.icon-global:before {
  content: "\e052"; }

.icon-linkedin:before {
  content: "\e062"; }

.icon-earth:before {
  content: "\e900"; }

.icon-mark-github:before {
  content: "\f00a"; }
