@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?3bzihn');
    src:    url('../fonts/icomoon.eot?3bzihn#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff2?3bzihn') format('woff2'),
        url('../fonts/icomoon.ttf?3bzihn') format('truetype'),
        url('../fonts/icomoon.woff?3bzihn') format('woff'),
        url('../fonts/icomoon.svg?3bzihn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home2:before {
    content: "\e600";
}
.icon-cross2:before {
    content: "\e92a";
}
.icon-menu2:before {
    content: "\e92b";
}
.icon-chevron-up:before {
    content: "\e939";
}
.icon-chevron-up-circle:before {
    content: "\e962";
}
.icon-chevron-left-circle:before {
    content: "\e964";
}
.icon-chevron-right-circle:before {
    content: "\e965";
}
.icon-document:before {
    content: "\e005";
}
.icon-pictures:before {
    content: "\e010";
}
.icon-pencil:before {
    content: "\e032";
}
.icon-global:before {
    content: "\e052";
}
.icon-linkedin:before {
    content: "\e062";
}
.icon-earth:before {
    content: "\e900";
}
.icon-mark-github:before {
    content: "\f00a";
}

