.dashboard {
  float: left;
  width: 50%;
  padding: $default-em $default-em $default-em * 2 $default-em;
}

.dashboard-widget {
  display: block;
  width: 80%;
  margin: $default-em auto 0 auto;
  padding: $default-em * 2;

  h3 {
    margin-bottom: $default-em;
  }

  .dev-index {
    margin: $default-em * 1.5 0;
  }

  .text-input {
    display: block;
    width: 100%;
    margin: $default-em 0;
  }

  .radio-input {
    display: inline-block;
  }

  .multiple {
    margin-left: $default-em;
  }

  .dev-label {
    display: block;
  }

  .number-input {
    display: block;
  }
}

.index-widget-button {
  display: block;
  margin: 0 auto;
}

.awesome-index-input {
  min-width: 4.75em;
}

.create-new-employee-button {
  margin-top: $default-em;
}

.secret-button {
  position: absolute;
}
