.scroll-up {
  position: fixed;
  top: 50%;
  left: 94.5%;
  background-color: $body-gray;
  width: 5%;
  padding: 1em 0;
  font-size: 1.2em;
  &:hover {
    cursor: pointer;
  }
  &:hover .scroll-up--icon {
    transform: translatey(-5px);
  }
}

.scroll-up--icon {
  text-align: center;
  font-size: 1em;
  transition: all .4s linear;
  margin: 0;
}

.dev-main {
  // float: left;
  padding: 2.5em 5em;
  height: 100%;
  margin-left: 256px;
}

.dev-main--pagebreak {
  margin: .5em 0 1em 0;
}

.dev-main--secondary-title {
  padding-top: .5em;
}

.dev-main--title-secondary {
  margin-top: .5em;
}

.dev-info--p {
  margin-top: 1em;
}

.dev-section {
  margin-bottom: 5em;
}
#skills {
  overflow: auto;
}

.skill-grid {
  float: left;
  width: 25%;
  padding: 1em .25em;
}
.skill-section {
  // height: 300px;
  margin: 1em 0;
}

.skill-title {
  text-align: center;
  padding: 1em 0;
}

.skill-list {
  text-align: center;
  padding: .5em 0;
}

.project-grid {
  overflow: auto;
  margin: 4em 0;
}

.project-section {
  float: left;
  width: 50%;
  padding: 1em;
}

.project-image {
  width: 100%;
}

.project-title {
  text-align: center;
  margin: .25em 0 .25em 0;
}

.project-description {
  display: block;
  margin: 0 auto;
  margin-top: .5em;
  margin-bottom: 1em;
  text-align: center;
  width: 60%;
  line-height: 1.1em;
}

.project-description--responsibilities {
  display: block;
  line-height: 1.1em;
  width: 80%;
  margin: 0 auto;
  margin-top: .5em;
}

.title-break {
  display: block;
  margin: 0 auto;
  width: 40%;
}

.project-icon--main {
  text-align: center;
}

.project-icon--section {
  display: inline-block;
  margin: 0em 2em 0 2em;
}

.icon-label {
  margin-top: .75em;
}
@media (min-width: 5em) and (max-width: 65em) {
  .scroll-up {
    display: none;
  }

  .dev-section {
    padding-top: 4em;
  }

  .dev-main {
    padding: 0;
    height: auto;
    margin: 0;
  }

  .dev-main--title {
    margin-top: 1em;
    text-align: center;
  }

  .dev-main--title-secondary {
    text-align: center;
    margin-bottom: 1em;
  }

  .dev-info--p {
    margin-top: 1em;
    padding: 0 1em 0 1em;
  }

  .dev-main--secondary-title {
    text-align: center;
  }

  .dev-main--pagebreak {
    margin: .5em 0 2em 0;
  }

  .skill-grid {
    float: none;
    display: block;
    width: 100%;
    padding: 0 1em;
  }

  .skill-section {
    display: block;
    margin: 0 auto;
  }

  .project-section {
    float: none;
    display: block;
    width: 100%;
    padding: 1em;
  }

  .project-description {
    width: 80%;
  }

  .project-description--responsibilities {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: .5em;
  }

  .project-image {
    width: 100%;
  }

  .dev-about {
    margin-bottom: 2em;
  }

  .my-pic {
    width: 100%;
  }
}
