.dashboard-widget {
  border: .1em solid $h-graphite-gray;

  h3 {
    font-size: $default-em * 1.5;
    font-weight: 500;
  }

  .dev-index {
    text-align: center;
  }

}

.index-widget-button {
  color: $gold;
  border: .1em solid $gold;
  transition: background-color .2s linear, color .2s linear, border .2s linear;
  &:hover {
    cursor: pointer;
    color: $creamy-white;
    border: .1em solid $gold;
    background-color: $gold;
  }
}

.create-new-employee-button {
  transition: background-color .2s linear, color .2s linear, border .2s linear;
  &:hover {
    cursor: pointer;
    color: $creamy-white;
    border: .1em solid $texas-sky-blue;
    background-color: $texas-sky-blue;
  }
}
.dev-rating {
  font-size: $default-em * 2.5;
}

.radio-label:hover {
  cursor: pointer;
}

.radio-input {
  background-color: transparent
}

.radio-input-active {
  background-color: $texas-sky-blue;
  border: .3em solid $creamy-white;
  &:hover {
    cursor: arrow;
  }
  &:focus {
    outline: none;
    background-color: $texas-sky-blue;
  }
}

.secret-button {
  background-color: transparent;
  color: transparent;
  border: .1em solid transparent;
  transition: color .2s linear, border .2s linear;
  &:hover {
    border: .1em solid $blood-orange;
    color: $blood-orange;
  }
}
