.arts-gallery {
  background-color: white;
}

.arts-gallery--medium-title {
  font-family: $header-font;
  font-weight: 200;
  font-size: 2em;
}

.arts-gallery--title-break {
  border: 1px solid $light-macaw-blue;
  border-radius: 50px;
}

.arts-gallery--piece-image {
  background-color: white;
}

.arts-gallery--piece-title {
  font-size: 1.5em;
  font-weight: 200;
}

.arts-gallery--piece-date {
  font-size: 1em;
}

.arts-gallery--piece-description {
  font-size: 1.1em;
  text-aligh: justify;
  line-height: 1.5em;
}

.arts-gallery--view {
  font-size: 2em;
}

.arts-gallery--icon {
  color: black;
}

.lnr-chevron-right-circle {
  color: $dev-color;
  font-size: 2em;
  transition: all .4s linear;
}

.arts-gallery--view {
  font-weight: 200;

}
.arts-gallery--pagebreak {
  border: 7px solid $body-gray;
}
