.dev-contact {
  .title {
    font-family: $header-font;
    font-size: 2em;
    font-weight: 200;
    color: $dark-graphite-gray;
  }
  .dev-contact-header {
    font-size: 1.5em;
    transition: all .4s linear;
  }

  .dev-contact-email, .dev-contact-resume, .dev-contact-linkedin, .dev-contact-github {
    border-top: 2px solid transparent;
    transition: all .4s linear;
    &:hover {
      border-top: 2px solid $artist-color;
      cursor: pointer;
    }
    &:hover .coverpage-icon {
      color: $dark-graphite-gray;
      transform: scale(1.2);
    }
    &:hover .dev-contact-header{
      transform: scale(1.1);
    }
  }
}

.coverpage-icon {
  color: $light-graphite-gray;
  font-size: 5em;
  transition: all .4s linear;
}

@media (min-width: 5em) and (max-width: 65em) {
  .dev-contact {
    .dev-contact-resume {
      border-top: 1px solid transparent;
      &:hover {
        border-top: 1px solid transparent;
      }
    }
    .dev-contact-email, .dev-contact-linkedin, .dev-contact-github, .dev-contact-resume {
      border-top: 2px solid $artist-color;
      &:hover {
        border-top: 2px solid $artist-color;
        cursor: pointer;
      }
      &:hover .coverpage-icon {
        color: $dark-graphite-gray;
        transform: scale(1.2);
      }
      &:hover .dev-contact-header{
        transform: scale(1.1);
      }
    }
  }
}
