.primary-header {
  font-family: $header-font;
  font-weight: 200;
  color: white;
  background-image: url('../pics/bw-macro.jpg'), linear-gradient(90deg, $dev-color 10%, $artist-color 90%);;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  transition:background-image 0.5s;
}

.primary-header--title {
  font-size: 8em;
}

@media (min-width: 5em) and (max-width: 60em) {
  .primary-header {
    border-bottom: 10px solid rgba(231, 231, 232, 1);
  }
  .primary-header--title {
    font-size: 3.5em;
  }
}
.secondary-header {
  color: $dark-graphite-gray;
  &:visited {
    color: $dark-graphite-gray;
    text-decoration: none;
  }
  .title-dev, .title-artist {
    font-size: 2em;
  }
}

// .secondary-header .title-dev, .secondary-header .title-artist {
//   font-size: 2em;
// }

.secondary-header .title-artist {
  font-family: $header-font;
  font-weight: 200;
  background-color: white;
  border-bottom: 2px solid $artist-color;
  border-right: 2px solid $artist-color;
  transition: background-color .4s linear, color .4s linear, border .4s linear;
  &:hover {
    background-color: $artist-color;
    color: white;
  }
}

@media (min-width: 5em) and (max-width: 60em) {
  .secondary-header .title-artist {
    font-size: 1.2em;
    border-top: 2px solid $artist-color;
    border-bottom: 2px solid $artist-color;
  }
}

.secondary-header .title-dev  {
  font-family: $header-font;
  font-weight: 200;
  background-color: white;
  border-bottom: 2px solid $dev-color;
  border-left: 2px solid $dev-color;
  transition: background-color .4s linear, color .4s linear, border .4s linear;
  &:hover {
    background-color: $dev-color;
    color: white;
  }
}

@media (min-width: 5em) and (max-width: 60em) {
  .secondary-header .title-dev {
    font-size: 1.2em;
    border-top: 2px solid $dev-color;
    border-bottom: 2px solid $dev-color;
    border-left: none;
    // color: white;
    // background-color: $dev-color;
  }
}

.spacer-1, .spacer-2 {
  border-bottom: 2px solid $dev-color;
}

.spacer-1 {
  border-right: 1.5px solid $dev-color;
}

.spacer-2 {
  border-left: 1.5px solid $dev-color;
}

.spacer-3, .spacer-4 {
  border-bottom: 2px solid $artist-color;
}

.spacer-3 {
  border-right: 1.5px solid $artist-color;
}

.spacer-4 {
  border-left: 1.5px solid $artist-color;
}

.spacer-5 {
  border-bottom: 2px solid $dev-color;
}

.spacer-6 {
  border-bottom: 2px solid $artist-color;
}

