.dev-header {
  position: fixed;
  // float: left;
  display: block;
  overflow: auto;
  width: 256px;
  height: 100%;
}

.dev-footer {
  margin-left: 256px;
  margin-top: 5em;
}

.dev-body {
  border-right: .8em solid rgba(231, 231, 232, 1);
  border-left: .8em solid rgba(231, 231, 232, 1);
  overflow: auto;
}

.dev-header--icon {
  padding: .2em;
}

//fix the classes on the html and sass
