.arts-navbar {
  background-color: white;
  // border-top: 2px solid $darkest-graphite-gray;
}

.arts-navbar--link {
  font-size: 1.75em;
  border-bottom: 3px solid transparent;
  &:hover {
    border-bottom:3px solid $light-macaw-blue;
  }
}

.arts-hero {
}

.arts-hero--text {
  font-size: 1.5em;
  text-align: justify;
  line-height: 2em;
}

.arts-hero--title {
  font-family: $header-font;
  font-weight: 200;
  font-size: 2em;
}
